<div align="center">
  <h1>Welcome to the Cocktail Picker</h1>
  <%= link_to "Register as a User", new_user_path %>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div align="center" class="cocktail-form">
  <p>Get started by searching for a Cocktail by name:</p>
    <%= form_tag '/cocktails', method: :get do %>
      <div align="center" class="cocktail-search">
        <%= text_field_tag :cocktail %>
        <%= submit_tag "Search" %>
        </div align="center">
        <% end %>
      </div align="center">
<br>
<div align="center" class="liquor-form">
  <p>Not sure what to search?</p> 
  <p>Enter a liquor type or ingredient and we will recommend some cocktails for you:</p>
  <p>(ie.'vodka')</p>
    <%= form_tag '/drinks', method: :get do %>
      <div align="center" class="liquor-search">
      <%= text_field_tag :liquor %>
      <%= submit_tag "Show me some cocktails!" %>
      </div align="center">
      <% end %>
      </div align="center">
